openapi: 3.0.3
info:
  title: MaBiS Zeitreihen API mit Formelunterstützung
  version: 1.0.0
  description: |
    REST API für den Austausch von Zeitreihendaten im deutschen Energiemarkt (MaBiS).
    Diese API bietet Funktionalität äquivalent zu UTILTS EDIFACT-Nachrichten mit erweiterten
    Formelberechnungsfunktionen für Bilanzierung, Netznutzung und Eigenverbrauch.

    **Hauptmerkmale:**
    - Zeitreihendaten und Messwerte übermitteln
    - Aggregierte Bilanzkreisdaten abrufen
    - Unterstützung für verschiedene Messtypen und Qualitätsindikatoren
    - 11 ÜNB-geforderte Berechnungsfunktionen
    - Verschachtelte Formelausdrücke für komplexe Berechnungen
    - OBIS-Code-Integration für Smart-Meter-Daten
    - Zählpunkt-Referenzen und Verlustfaktor-Berechnungen

  contact:
    name: MaBiS-Hub API Support
    email: api-support@mabis-hub.de
  x-api-id: mabis-timeseries-api
  x-audience: external-public

servers:
  - url: https://api.mabis-hub.de/v1
    description: Produktionsumgebung
  - url: https://api-test.mabis-hub.de/v1
    description: Testumgebung

security:
  - OAuth2: [timeseries.read, timeseries.write]

tags:
  - name: Time Series
    description: Operationen für Zeitreihendatenaustausch
  - name: Metering Values
    description: Messwerte übermitteln und abrufen
  - name: Balancing Groups
    description: Bilanzkreis-Aggregationsdaten
  - name: Formulas
    description: Berechnungsformeln für Zeitreihenverarbeitung definieren und verwalten (Bilanzierung, Netznutzung, Eigenverbrauch, Verluste)
  - name: Calculations
    description: Formeln auf Zeitreihendaten ausführen und Ergebnisse abrufen

paths:
  /time-series:
    post:
      tags:
        - Time Series
      summary: Zeitreihendaten übermitteln
      description: |
        Zeitreihendaten für Zählpunkte übermitteln. Äquivalent zur UTILTS-Nachrichtenübermittlung.
        Unterstützt verschiedene Zeitreihentypen (gemessene Werte, Prognosen, Fahrpläne).
      operationId: submitTimeSeries
      security:
        - OAuth2: [timeseries.write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeSeriesSubmission'
            examples:
              meteringValues:
                summary: 15-Minuten Messwerte
                value:
                  messageId: "MSG-2025-12-02-001"
                  messageDate: "2025-12-02T14:30:00Z"
                  sender:
                    id: "DE0212345678901"
                    role: "MSB"
                  receiver:
                    id: "DE0298765432109"
                    role: "NB"
                  timeSeries:
                    - timeSeriesId: "TS-MP10550000000001-A15MIN-20251202"
                      marketLocationId: "10550000000001"
                      measurementType: "CONSUMPTION"
                      unit: "KWH"
                      resolution: "PT15M"
                      period:
                        start: "2025-12-02T00:00:00Z"
                        end: "2025-12-03T00:00:00Z"
                      intervals:
                        - position: 1
                          start: "2025-12-02T00:00:00Z"
                          end: "2025-12-02T00:15:00Z"
                          quantity: "2.456"
                          quality: "METERED"
                        - position: 2
                          start: "2025-12-02T00:15:00Z"
                          end: "2025-12-02T00:30:00Z"
                          quantity: "2.123"
                          quality: "METERED"
      responses:
        '201':
          description: Zeitreihe erfolgreich akzeptiert
          headers:
            Location:
              description: URL zum Abrufen der übermittelten Zeitreihe
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesAcceptance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Time Series
      summary: Zeitreihendaten abfragen
      description: Zeitreihendaten mit Filteroptionen abrufen
      operationId: queryTimeSeries
      security:
        - OAuth2: [timeseries.read]
      parameters:
        - name: marketLocationId
          in: query
          description: Nach Marktlokations-ID filtern
          schema:
            type: string
            format: mrid
            example: "10550000000001"
        - name: periodStart
          in: query
          required: true
          description: Beginn des Zeitraums (inklusiv)
          schema:
            type: string
            format: date-time
            example: "2025-12-01T00:00:00Z"
        - name: periodEnd
          in: query
          required: true
          description: Ende des Zeitraums (exklusiv)
          schema:
            type: string
            format: date-time
            example: "2025-12-02T00:00:00Z"
        - name: measurementType
          in: query
          description: Nach Messtyp filtern
          schema:
            $ref: '#/components/schemas/MeasurementType'
        - name: resolution
          in: query
          description: Zeitreihenauflösung
          schema:
            $ref: '#/components/schemas/Resolution'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: Zeitreihendaten erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /time-series/{timeSeriesId}:
    get:
      tags:
        - Time Series
      summary: Bestimmte Zeitreihe abrufen
      description: Eine bestimmte Zeitreihe anhand ihrer eindeutigen Kennung abrufen
      operationId: getTimeSeries
      security:
        - OAuth2: [timeseries.read]
      parameters:
        - name: timeSeriesId
          in: path
          required: true
          description: Eindeutige Zeitreihenkennung
          schema:
            type: string
            format: ts
            example: "TS-MP10550000000001-A15MIN-20251202"
      responses:
        '200':
          description: Zeitreihe gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeries'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /balancing-groups/{balancingGroupId}/aggregated-values:
    get:
      tags:
        - Balancing Groups
      summary: Aggregierte Bilanzkreiswerte abrufen
      description: |
        Aggregierte Zeitreihen für einen Bilanzkreis abrufen.
        Äquivalent zu UTILTS aggregierten Zeitreihen (Summenzeitreihen).
      operationId: getBalancingGroupAggregation
      security:
        - OAuth2: [timeseries.read]
      parameters:
        - name: balancingGroupId
          in: path
          required: true
          description: Bilanzkreis-Kennung
          schema:
            type: string
            format: balancing-group
            example: "DE123456789012-B"
        - name: periodStart
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: periodEnd
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: aggregationType
          in: query
          required: true
          description: Art der Aggregation
          schema:
            type: string
            enum: [CONSUMPTION, GENERATION, FEED_IN, WITHDRAWAL]
      responses:
        '200':
          description: Aggregierte Werte abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedTimeSeries'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /metering-points/{meteringPointId}/values:
    post:
      tags:
        - Metering Values
      summary: Zählpunktwerte übermitteln
      description: Messwerte für einen bestimmten Zählpunkt übermitteln
      operationId: submitMeteringValues
      security:
        - OAuth2: [timeseries.write]
      parameters:
        - name: meteringPointId
          in: path
          required: true
          description: Zählpunkt-Kennung
          schema:
            type: string
            format: mrid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeteringValuesSubmission'
      responses:
        '201':
          description: Werte akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringValuesAcceptance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /formulas:
    post:
      tags:
        - Formulas
      summary: Berechnungsformel übermitteln
      description: |
        Eine oder mehrere Berechnungsformeldefinitionen übermitteln, die auf Zeitreihendaten angewendet werden können.
        Unterstützt alle 11 ÜNB-geforderten Berechnungsfunktionen einschließlich verschachtelter Ausdrücke.
      operationId: submitFormula
      security:
        - OAuth2: [formulas.write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormulaSubmission'
            examples:
              simpleFormula:
                summary: Einfache Anteil_Groesser_Als Formel
                value:
                  messageId: "FORM-MSG-20251203001"
                  messageDate: "2025-12-03T10:30:00Z"
                  sender:
                    id: "DE0212345678901"
                    role: "MSB"
                  formulas:
                    - formulaId: "FORM-ANTEIL-GT-001"
                      name: "Anteil oberhalb 100 kWh"
                      description: "Berechnet den Anteil der Zeitreihenwerte oberhalb 100 kWh"
                      expression:
                        function: "Anteil_Groesser_Als"
                        parameters:
                          - name: "zeitreihe"
                            value: "INPUT_TS"
                            type: "timeseries_ref"
                          - name: "grenze"
                            value: 100.0
                            type: "constant"
                      inputTimeSeries: ["INPUT_TS"]
                      outputUnit: "KWH"
                      outputResolution: "PT15M"
                      version: "1.0.0"
              complexFormula:
                summary: Komplexe verschachtelte Quer_Max Formel
                value:
                  messageId: "FORM-MSG-20251203002"
                  messageDate: "2025-12-03T10:35:00Z"
                  sender:
                    id: "DE0212345678901"
                    role: "MSB"
                  formulas:
                    - formulaId: "FORM-QUER-MAX-001"
                      name: "Quer Maximum"
                      description: "Maximum über mehrere Zeitreihen"
                      expression:
                        function: "Quer_Max"
                        parameters:
                          - function: "Anteil_Groesser_Als"
                            parameters:
                              - name: "zeitreihe"
                                value: "TS1"
                                type: "timeseries_ref"
                              - name: "grenze"
                                value: 50.0
                                type: "constant"
                          - function: "Anteil_Kleiner_Als"
                            parameters:
                              - name: "zeitreihe"
                                value: "TS2"
                                type: "timeseries_ref"
                              - name: "grenze"
                                value: 200.0
                                type: "constant"
                      inputTimeSeries: ["TS1", "TS2"]
                      outputUnit: "KWH"
                      outputResolution: "PT15M"
                      version: "1.0.0"
      responses:
        '201':
          description: Formel erfolgreich übermittelt
          headers:
            Location:
              description: URL zum Abrufen der übermittelten Formel
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaAcceptance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

    get:
      tags:
        - Formulas
      summary: Formeln auflisten
      description: Liste verfügbarer Formeln mit optionalen Filtern abrufen
      operationId: listFormulas
      security:
        - OAuth2: [formulas.read]
      parameters:
        - name: name
          in: query
          description: Nach Formelname filtern
          schema:
            type: string
        - name: createdBy
          in: query
          description: Nach Ersteller-ID filtern
          schema:
            type: string
        - name: pageSize
          in: query
          description: Anzahl der Elemente pro Seite
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: cursor
          in: query
          description: Paginierungs-Cursor
          schema:
            type: string
      responses:
        '200':
          description: Liste der Formeln
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /formulas/{formulaId}:
    get:
      tags:
        - Formulas
      summary: Formel nach ID abrufen
      description: Eine bestimmte Formeldefinition abrufen
      operationId: getFormula
      security:
        - OAuth2: [formulas.read]
      parameters:
        - name: formulaId
          in: path
          required: true
          description: Formel-Kennung
          schema:
            type: string
      responses:
        '200':
          description: Formel abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
        '404':
          $ref: '#/components/responses/NotFound'

  /calculations:
    post:
      tags:
        - Calculations
      summary: Berechnung ausführen
      description: |
        Eine Berechnung durch Anwendung einer Formel auf Zeitreihendaten ausführen.
        Die Berechnung wird asynchron verarbeitet.
      operationId: executeCalculation
      security:
        - OAuth2: [calculations.execute]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculationRequest'
            example:
              calculationId: "CALC-20251203-001"
              requestDate: "2025-12-03T10:45:00Z"
              formulaId: "FORM-ANTEIL-GT-001"
              inputTimeSeries:
                INPUT_TS: "TS-MP10550000000001-A15MIN-20251202"
              period:
                start: "2025-12-02T00:00:00Z"
                end: "2025-12-03T00:00:00Z"
              requestedBy:
                id: "DE0212345678901"
                role: "MSB"
              outputTimeSeriesId: "TS-CALC-RESULT-20251202"
      responses:
        '202':
          description: Berechnung zur Verarbeitung akzeptiert
          headers:
            Location:
              description: URL zur Überprüfung des Berechnungsstatus
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /calculations/{calculationId}:
    get:
      tags:
        - Calculations
      summary: Berechnungsergebnis abrufen
      description: Status und Ergebnis einer Berechnung abrufen
      operationId: getCalculation
      security:
        - OAuth2: [calculations.read]
      parameters:
        - name: calculationId
          in: path
          required: true
          description: Berechnungs-Kennung
          schema:
            type: string
      responses:
        '200':
          description: Berechnungsergebnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationResult'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2-Sicherheitsschema für MaBiS-Hub
      flows:
        clientCredentials:
          tokenUrl: https://auth.mabis-hub.de/oauth/token
          scopes:
            timeseries.read: Zeitreihendaten lesen
            timeseries.write: Zeitreihendaten übermitteln
            balancing.read: Bilanzkreisdaten lesen
            formulas.read: Formeldefinitionen lesen
            formulas.write: Formeldefinitionen übermitteln
            calculations.read: Berechnungsergebnisse lesen
            calculations.execute: Berechnungen ausführen

  parameters:
    PageSize:
      name: pageSize
      in: query
      description: Anzahl der Elemente pro Seite (max. 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100

    PageToken:
      name: pageToken
      in: query
      description: Token zum Abrufen der nächsten Seite
      schema:
        type: string

  schemas:
    TimeSeriesSubmission:
      type: object
      required:
        - messageId
        - messageDate
        - sender
        - receiver
        - timeSeries
      properties:
        messageId:
          type: string
          description: Eindeutige Nachrichten-Kennung
          example: "MSG-2025-12-02-001"
        messageDate:
          type: string
          format: date-time
          description: Zeitstempel der Nachrichtenerstellung
        sender:
          $ref: '#/components/schemas/MarketParticipant'
        receiver:
          $ref: '#/components/schemas/MarketParticipant'
        timeSeries:
          type: array
          items:
            $ref: '#/components/schemas/TimeSeries'
          minItems: 1
          maxItems: 100

    TimeSeries:
      type: object
      required:
        - timeSeriesId
        - marketLocationId
        - measurementType
        - unit
        - resolution
        - period
        - intervals
      properties:
        timeSeriesId:
          type: string
          format: ts
          description: Unique time series identifier
          example: "TS-MP10550000000001-A15MIN-20251202"
        marketLocationId:
          type: string
          format: mrid
          description: Market location identifier (Marktlokations-ID)
          example: "10550000000001"
        meteringPointId:
          type: string
          format: mrid
          description: Metering point identifier (Messlokations-ID)
          example: "10550000000001:MP001"
        measurementType:
          $ref: '#/components/schemas/MeasurementType'
        unit:
          type: string
          enum: [KWH, MWH, KW, MW]
          description: Unit of measurement
        resolution:
          $ref: '#/components/schemas/Resolution'
        period:
          $ref: '#/components/schemas/Period'
        intervals:
          type: array
          items:
            $ref: '#/components/schemas/Interval'
          minItems: 1
        metadata:
          $ref: '#/components/schemas/TimeSeriesMetadata'

    Interval:
      type: object
      required:
        - position
        - start
        - end
        - quantity
        - quality
      properties:
        position:
          type: integer
          minimum: 1
          description: Sequential position in the time series
        start:
          type: string
          format: date-time
          description: Interval start time (inclusive)
        end:
          type: string
          format: date-time
          description: Interval end time (exclusive)
        quantity:
          type: string
          format: decimal
          description: Measured or calculated quantity
          example: "2.456789"
        quality:
          $ref: '#/components/schemas/QualityIndicator'
        status:
          type: string
          enum: [CONFIRMED, ESTIMATED, PRELIMINARY, CORRECTED]
          description: Data status

    QualityIndicator:
      type: string
      enum:
        - METERED
        - ESTIMATED
        - SUBSTITUTE
        - FORECASTED
        - VALIDATED
        - MISSING
      description: |
        Quality indicator for the measured value:
        - METERED: Actual metered value
        - ESTIMATED: Estimated value
        - SUBSTITUTE: Substitute value (Ersatzwert)
        - FORECASTED: Forecasted value
        - VALIDATED: Validated value
        - MISSING: Value not available

    MeasurementType:
      type: string
      enum:
        - CONSUMPTION
        - GENERATION
        - FEED_IN
        - WITHDRAWAL
        - EXCHANGE
      description: Type of measurement

    Resolution:
      type: string
      enum:
        - PT15M
        - PT1H
        - P1D
        - P1M
      description: |
        Time series resolution (ISO 8601 duration):
        - PT15M: 15 minutes
        - PT1H: 1 hour
        - P1D: 1 day
        - P1M: 1 month

    Period:
      type: object
      required:
        - start
        - end
      properties:
        start:
          type: string
          format: date-time
          description: Period start (inclusive)
        end:
          type: string
          format: date-time
          description: Period end (exclusive)

    MarketParticipant:
      type: object
      required:
        - id
        - role
      properties:
        id:
          type: string
          format: edifact-id
          description: EDIFACT identifier (e.g., GLN)
          example: "DE0212345678901"
        role:
          type: string
          enum: [MSB, NB, LF, BKV, BA, MV]
          description: |
            Market role:
            - MSB: Messstellenbetreiber (Metering Point Operator)
            - NB: Netzbetreiber (Network Operator)
            - LF: Lieferant (Supplier)
            - BKV: Bilanzkreisverantwortlicher (Balance Responsible Party)
            - BA: Bilanzierungs- und Aggregierungsverantwortlicher
            - MV: Messwertverarbeiter
        name:
          type: string
          description: Participant name (optional)

    TimeSeriesMetadata:
      type: object
      properties:
        meteringMethod:
          type: string
          enum: [REMOTE_READING, MANUAL_READING, ESTIMATED]
        tariffStage:
          type: string
          description: Tariff stage (Tarifstufe)
        profileType:
          type: string
          description: Standard load profile type
          example: "H0"
        businessProcess:
          type: string
          description: Associated business process

    TimeSeriesAcceptance:
      type: object
      required:
        - messageId
        - acceptanceTime
        - status
        - timeSeriesIds
      properties:
        messageId:
          type: string
          description: Original message ID
        acceptanceTime:
          type: string
          format: date-time
        status:
          type: string
          enum: [ACCEPTED, PARTIALLY_ACCEPTED, REJECTED]
        timeSeriesIds:
          type: array
          items:
            type: string
          description: IDs of accepted time series
        validationResults:
          type: array
          items:
            $ref: '#/components/schemas/ValidationResult'

    ValidationResult:
      type: object
      required:
        - timeSeriesId
        - valid
      properties:
        timeSeriesId:
          type: string
        valid:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'

    ValidationError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: "INVALID_QUANTITY_FORMAT"
        message:
          type: string
          example: "Quantity must have maximum 6 decimal places"
        field:
          type: string
          example: "intervals[5].quantity"
        intervalPosition:
          type: integer

    TimeSeriesCollection:
      type: object
      required:
        - timeSeries
      properties:
        timeSeries:
          type: array
          items:
            $ref: '#/components/schemas/TimeSeries'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        pageSize:
          type: integer
        nextPageToken:
          type: string
          description: Token for next page (null if last page)
        totalCount:
          type: integer
          description: Total number of items (may be approximate)

    AggregatedTimeSeries:
      type: object
      required:
        - balancingGroupId
        - aggregationType
        - period
        - intervals
      properties:
        balancingGroupId:
          type: string
          format: balancing-group
        aggregationType:
          type: string
          enum: [CONSUMPTION, GENERATION, FEED_IN, WITHDRAWAL]
        period:
          $ref: '#/components/schemas/Period'
        resolution:
          $ref: '#/components/schemas/Resolution'
        intervals:
          type: array
          items:
            $ref: '#/components/schemas/AggregatedInterval'

    AggregatedInterval:
      type: object
      required:
        - position
        - start
        - end
        - totalQuantity
      properties:
        position:
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        totalQuantity:
          type: string
          format: decimal
        componentCount:
          type: integer
          description: Number of individual time series aggregated

    MeteringValuesSubmission:
      type: object
      required:
        - messageId
        - measurementDate
        - values
      properties:
        messageId:
          type: string
        measurementDate:
          type: string
          format: date-time
        values:
          type: array
          items:
            $ref: '#/components/schemas/MeteringValue'

    MeteringValue:
      type: object
      required:
        - timestamp
        - value
        - unit
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: string
          format: decimal
        unit:
          type: string
          enum: [KWH, MWH]
        quality:
          $ref: '#/components/schemas/QualityIndicator'
        obisCode:
          type: string
          format: obis
          description: OBIS code for identification
          example: "1-0:1.8.0*255"

    MeteringValuesAcceptance:
      type: object
      required:
        - messageId
        - acceptanceTime
        - acceptedCount
      properties:
        messageId:
          type: string
        acceptanceTime:
          type: string
          format: date-time
        acceptedCount:
          type: integer
        rejectedCount:
          type: integer
        validationErrors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'

    ProblemDetail:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
          example: "https://api.mabis-hub.de/problems/validation-error"
        title:
          type: string
          description: Short, human-readable summary
          example: "Validation Error"
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          description: Human-readable explanation
          example: "The submitted time series contains invalid data"
        instance:
          type: string
          format: uri
          description: URI reference to this specific occurrence
          example: "/time-series/TS-MP10550000000001-A15MIN-20251202"
        invalidParams:
          type: array
          description: Details about invalid parameters
          items:
            type: object
            properties:
              name:
                type: string
              reason:
                type: string

    # ==================== FORMULA SCHEMAS ====================

    FormulaSubmission:
      type: object
      required:
        - messageId
        - messageDate
        - sender
        - formulas
      properties:
        messageId:
          type: string
          description: Unique message identifier
          example: "FORM-MSG-20251203001"
        messageDate:
          type: string
          format: date-time
          description: Message creation timestamp
        sender:
          $ref: '#/components/schemas/MarketParticipant'
        formulas:
          type: array
          items:
            $ref: '#/components/schemas/Formula'
          minItems: 1
          maxItems: 50

    Formula:
      type: object
      required:
        - formulaId
        - name
        - description
        - expression
        - inputTimeSeries
        - outputUnit
        - outputResolution
      properties:
        formulaId:
          type: string
          description: Unique formula identifier
          example: "FORM-ANTEIL-GT-001"
        name:
          type: string
          description: Human-readable formula name
          example: "Anteil oberhalb 100 kWh"
        description:
          type: string
          description: Detailed description of what the formula calculates
        expression:
          $ref: '#/components/schemas/FormulaExpression'
        inputTimeSeries:
          type: array
          items:
            type: string
          description: List of input time series parameter names
          example: ["INPUT_TS"]
        outputUnit:
          type: string
          enum: [KWH, MWH, KW, MW]
          description: Unit of the calculated output
        outputResolution:
          type: string
          description: ISO 8601 duration for output resolution
          example: "PT15M"
        createdBy:
          type: string
          description: ID of the market participant who created this formula
        createdAt:
          type: string
          format: date-time
          description: Formula creation timestamp
        version:
          type: string
          description: Formula version
          example: "1.0.0"
        category:
          type: string
          enum:
            - BILANZIERUNG
            - NETZNUTZUNG
            - BILANZIERUNG_UND_NETZNUTZUNG
            - EIGENVERBRAUCH
            - VERLUSTE
            - AGGREGATION
          description: |
            Formula category for billing/settlement purposes:
            - BILANZIERUNG: Billing/settlement relevant (Bil)
            - NETZNUTZUNG: Network usage relevant (NN)
            - BILANZIERUNG_UND_NETZNUTZUNG: Both billing and network usage (Bil/NN)
            - EIGENVERBRAUCH: Self-consumption calculations (oEV)
            - VERLUSTE: Loss calculations (Verluste)
            - AGGREGATION: Aggregation formulas (Σ)
        inputMeteringPoints:
          type: array
          items:
            type: object
            properties:
              meteringPointId:
                type: string
                description: Metering point identifier
                example: "ZP_3.1.1"
              obisCode:
                type: string
                format: obis
                description: OBIS code for this metering point
                example: "1-1:1.29.0"
              direction:
                type: string
                enum: [CONSUMPTION, FEED_IN, BIDIRECTIONAL]
                description: Energy flow direction
              description:
                type: string
                description: Human-readable description
                example: "Ma-Ltg Block A Arbeitszähler"
          description: List of required metering points with OBIS codes
        outputObisCode:
          type: string
          format: obis
          description: OBIS code for the calculated output
          example: "1-1:1.29.0"
        lossFactor:
          type: number
          description: Loss factor to apply (e.g., 0.0049 for 0.49% losses)
          example: 0.0049
        metadata:
          type: object
          additionalProperties: true
          description: |
            Additional metadata (flexible for custom fields):
            - balancingGroup: Bilanzkreis identifier
            - facilityType: BATTERY, PV, WIND, KRAFTWERK, etc.
            - voltageLevel: 110kV, 30kV, 20kV, 10kV, 0.4kV
            - tsoOperator: TSO name (e.g., "50Hertz")
            - remarks: Additional notes

    FormulaExpression:
      type: object
      required:
        - function
        - parameters
      properties:
        function:
          type: string
          enum:
            - Anteil_Groesser_Als
            - Anteil_Kleiner_Als
            - Groesser_Als
            - Round
            - Conv_RKMG
            - Wenn_Dann
            - IMax
            - IMin
            - Grp_Sum
            - Quer_Max
            - Quer_Min
          description: Calculation function name
        parameters:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/FormulaParameter'
              - $ref: '#/components/schemas/FormulaExpression'
          description: Parameters for the function (can be nested expressions)
        description:
          type: string
          description: Optional description of this expression

    FormulaParameter:
      type: object
      required:
        - name
        - value
        - type
      properties:
        name:
          type: string
          description: Parameter name
          example: "zeitreihe"
        value:
          oneOf:
            - type: string
            - type: number
            - type: boolean
            - type: object
          description: Parameter value (can be time series ID, constant, percentage, or OBIS code)
        type:
          type: string
          enum:
            - timeseries_ref
            - constant
            - string
            - expression
            - percentage
            - loss_factor
            - obis_code
            - metering_point_ref
          description: |
            Type of parameter:
            - timeseries_ref: Reference to a time series ID
            - constant: Numeric constant value
            - string: String value (e.g., comparator operators)
            - expression: Nested formula expression
            - percentage: Percentage value (e.g., 0.49 for 0.49%)
            - loss_factor: Loss factor for calculations (e.g., 1 - fVerluste)
            - obis_code: OBIS code reference (e.g., "1-1:1.29.0")
            - metering_point_ref: Reference to metering point ID
        obisCode:
          type: string
          format: obis
          description: Optional OBIS code for this parameter (e.g., "1-1:1.29.0" for W+, "1-1:2.29.0" for W−)
          example: "1-1:1.29.0"
        unit:
          type: string
          description: Optional unit for this parameter
          example: "KWH"
        scalingFactor:
          type: number
          description: Optional scaling factor to apply to the value
          example: 1.0049

    FormulaAcceptance:
      type: object
      required:
        - messageId
        - acceptanceTime
        - status
        - formulaIds
      properties:
        messageId:
          type: string
          description: Original message ID
        acceptanceTime:
          type: string
          format: date-time
          description: Time when formula was accepted
        status:
          type: string
          enum: [ACCEPTED, PARTIALLY_ACCEPTED, REJECTED]
          description: Acceptance status
        formulaIds:
          type: array
          items:
            type: string
          description: IDs of accepted formulas
        validationResults:
          type: array
          items:
            $ref: '#/components/schemas/ValidationResult'

    FormulaList:
      type: object
      required:
        - formulas
        - totalCount
      properties:
        formulas:
          type: array
          items:
            $ref: '#/components/schemas/Formula'
        totalCount:
          type: integer
          description: Total number of formulas
        nextCursor:
          type: string
          description: Cursor for next page

    # ==================== CALCULATION SCHEMAS ====================

    CalculationRequest:
      type: object
      required:
        - calculationId
        - requestDate
        - formulaId
        - inputTimeSeries
        - period
        - requestedBy
      properties:
        calculationId:
          type: string
          description: Unique calculation identifier
          example: "CALC-20251203-001"
        requestDate:
          type: string
          format: date-time
          description: Calculation request timestamp
        formulaId:
          type: string
          description: ID of formula to execute
          example: "FORM-ANTEIL-GT-001"
        inputTimeSeries:
          type: object
          additionalProperties:
            type: string
          description: Map of parameter names to time series IDs
          example:
            INPUT_TS: "TS-MP10550000000001-A15MIN-20251202"
        period:
          type: object
          required:
            - start
            - end
          properties:
            start:
              type: string
              format: date-time
              description: Start of calculation period
            end:
              type: string
              format: date-time
              description: End of calculation period
        requestedBy:
          $ref: '#/components/schemas/MarketParticipant'
        outputTimeSeriesId:
          type: string
          description: Optional output time series ID
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    CalculationStatus:
      type: object
      required:
        - calculationId
        - status
        - acceptedAt
      properties:
        calculationId:
          type: string
          description: Calculation identifier
        status:
          type: string
          enum: [PENDING, PROCESSING, COMPLETED, FAILED]
          description: Current status of calculation
        acceptedAt:
          type: string
          format: date-time
          description: Time when calculation was accepted

    CalculationResult:
      type: object
      required:
        - calculationId
        - formulaId
        - status
      properties:
        calculationId:
          type: string
          description: Calculation identifier
        formulaId:
          type: string
          description: Formula that was executed
        status:
          type: string
          enum: [PENDING, PROCESSING, COMPLETED, FAILED]
          description: Calculation status
        outputTimeSeriesId:
          type: string
          description: ID of the resulting time series (when completed)
        completedAt:
          type: string
          format: date-time
          description: Completion timestamp
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
          description: Error details if calculation failed

  responses:
    BadRequest:
      description: Fehlerhafte Anfrage - ungültige Eingabe
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://api.mabis-hub.de/problems/bad-request"
            title: "Fehlerhafte Anfrage"
            status: 400
            detail: "Die Anfrage enthält ungültige Parameter"
            instance: "/time-series"

    Unauthorized:
      description: Nicht autorisiert - ungültige oder fehlende Authentifizierung
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    ValidationError:
      description: Nicht verarbeitbare Entität - Validierung fehlgeschlagen
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://api.mabis-hub.de/problems/validation-error"
            title: "Validierungsfehler"
            status: 422
            detail: "Zeitreihendaten-Validierung fehlgeschlagen"
            invalidParams:
              - name: "intervals[5].quantity"
                reason: "Muss maximal 6 Dezimalstellen haben"
              - name: "intervals[12].quality"
                reason: "Ungültiger Qualitätsindikator"

    TooManyRequests:
      description: Zu viele Anfragen - Ratenlimit überschritten
      headers:
        Retry-After:
          description: Sekunden bis zum Zurücksetzen des Ratenlimits
          schema:
            type: integer
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    InternalServerError:
      description: Interner Serverfehler
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
